* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: mona;
    overflow-x: hidden;
}

@font-face {
    font-family: mona;
    src: url(/ecommerce/html/assets/Mona-Sans-Regular.ttf) format(truetype);
}

/* só para dar um espaçamento entre o header e o footer */

main {
    height: 100vh;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    height: 45px;
    border-radius: 13px;
    background-color: #f3f3f3;
    border: 1px solid #00000023;
}

.search-box input {
    height: 100%;
    width: 90%;
    outline: none;
    padding-left: 15px;
    border: none;
    background-color: transparent;
    font-size: 14px;
}

.search-box button {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-box img {
    width: 24px;
}

.nav-menu {
    display: flex;
}

.carrinho-btn {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carrinho-btn img {
    width: 25px;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #d90429;
    transition: all .3s ease-in-out;
}

footer {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-top: 1px solid #cccccc81;
    gap: 30px;
}

.uls {
    display: flex;
    padding: 30px 40px 0px 40px;
    width: 100%;
    flex-direction: row;
    align-items: start;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 345px;
}

footer ul p {
    font-weight: bold;
    font-size: 16px;
}

footer ul li a {
    color: #000000;
    font-size: 14px;
    opacity: 80%;
    transition: .3s;
}

footer ul li a:hover {
    opacity: 100%;
}

.redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.redes img {
    width: 25px;
    opacity: 60%;
    cursor: pointer;
    transition: .3s;
}

.redes img:hover {
    opacity: 100%;
}

.policy {
    display: flex;
    padding: 25px 40px 25px 40px;
    border-top: 1px solid #ccccccaf;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.policy a {
    color: blue;
    font-size: 14px;
    cursor: pointer;
}

.policy a:hover {
    text-decoration: underline;
}