* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: mona;
    overflow-x: hidden;
}

@font-face {
    font-family: mona;
    src: url(/ecommerce/html/assets/Mona-Sans-Regular.ttf) format(truetype);
}

section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 20px;
    width: 100%;
}

.avaliacoes-box {
    width: 30%;
    height: 100%;
    background-color: #d90429;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 25px 25px 25px;
}

.avaliacoes-box span {
    color: #ffffff;
}

.avaliacoes-box-texts {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

h1 {
    font-size: 2.2rem;
    color: #ffffff;
}

.avaliacoes-box-texts p {
    font-size: 15px;
    color: #ffffff9d;
}

.avaliacoes-divs {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.avaliacao-card {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #bb0020;
    border-radius: 15px;
    transition: all .5s ease-in-out;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.avaliacao-card p {
    color: #ffffff;
    font-size: 13px;
}

h3 {
    color: #ffffff;
    font-size: 16px;
}

.avaliacao-card.active {
    opacity: 1;
}

.avaliacao-card.inactive {
    opacity: 0;
}

.indicator-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.indicator {
    width: 8px;
    height: 8px;
    background-color: #ffffff7e;
    border-radius: 50px;
    transition: background-color .3s ease;
}

.indicator.active {
    background-color: #ffffff;
}

.form-box-div {
    width: 70%;
    height: 100%;
    padding: 40px 25px 25px 70px;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

h2 {
    color: #303030;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    width: 100%;
}

.inputBox label {
    font-size: 16px;
}

.inputBox input {
    height: 50px;
    width: 85%;
    padding-left: 15px;
    outline: none;
    border-radius: 13px;
    border: 2px solid #0000002c;
    font-size: 15px;
}

.inputBox div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputBox-row {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 85%;
    gap: 10px;
}

.inputBox-row input {
    width: 100%;
}

.p-aviso {
    font-size: 14px;
    width: 85%;
}

.p-aviso a:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 170px;
    height: 45px;
    font-size: 16px;
    font-weight: 100;
    border-radius: 13px;
    border: none;
    color: #ffffff;
    background-color: #d90429;
    cursor: pointer;
    transition: .5s;
}

input[type="submit"]:hover {
    opacity: 85%;
}

.erro-message {
    color: #d90429;
    font-size: 14px;
    margin-left: 15px;
}

.erro-confirm::before {
    content: 'Email inválido';
    margin-left: 15px;
    color: #d90429;
    font-size: 14px;
}

.st-message {
    margin-left: 15px;
    font-size: 14px;
    color: #000000ab;
}